<header class="sticky">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <%# <li><a href="/about">About</a></li> %>
      <%# <li><a href="https://patrickrgrady81.github.io/">Blog</a></li> %>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/info">Info</a></li>
    </ul>
  </nav>
  <h2 class="logo"><a href="https://github.com/patrickrgrady81">Patrick Grady</a></h2>
</header>