<header class="sticky">
  <nav>
  <h2 class="logo"><a href="https://github.com/patrickrgrady81">Patrick Grady</a></h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/info">Info</a></li>
    </ul>
  </nav>
</header>