.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--gray-color-no-opacity);
  color: white;
  text-align: left;
  padding: 10px 0;
}

.footer > a {
  font-size: 1rem;
  margin-left: 100px;
  text-decoration: none;
  color: white;
}
