#name, #desc {
  // text-align: center;
  margin-left: 5rem;
}

#name {
  margin-top: 120px;
  font-size: 6rem;
}

#desc {
  margin-top: 80px;
  font-size: 2rem;
}

a:visited {
  color: white;
}

@keyframes name {
  from {font-size: 12rem;}
  to {font-size: 6em;}
}

@keyframes desc {
  from {opacity: 0;}
  to {opacity: 100;}
}

#name {
  animation-name: name;
  animation-duration: 5s;
}

#desc {
  animation-name: desc;
  animation-duration: 6s;
}

