:root {
  --gray-color: rgba(50, 50, 50, 0.8);
  --green-color: #8DF9D5
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(#ccc, lightgreen);
  background-size: 100%;
}