header {
  display: flex;
  justify-content: flex-end;
  background: var(--gray-color);
  border-radius: 50px;
  background-clip: padding-box;
  margin-bottom: 3rem;
  a {
    color: white;
  }
}

.logo {
  a {
    text-decoration: none;
    margin: 0 3rem;
  }
  a:hover {
    color: var(--green-color)
  }
}

nav { 
  ul {
  display: flex;
  }
  ul li {
    list-style-type: none;
    margin-right: 2rem;
    margin-top: 2px;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 8px;
  
    a {
      text-decoration: none;
    }

    a:hover {
      background: var(--green-color);
      color: var(--gray-color);
    }
  }
}