header {
  display: flex;
  justify-content: flex-end;
  background: #143318;
  margin: 0 -11px;
  // border-radius: 50px;
  background-clip: padding-box;
  a {
    color: rgb(189, 187, 187);
  }
  a:visited {
    color: rgb(189, 187, 187);
  }
}

.logo {
  float: left;
  a {
    text-decoration: none;
    margin: 0 3rem;
  }
  a:hover {
    color: var(--green-color)
  }
}

nav { 
  ul {
  display: flex;
  }
  ul li {
    list-style-type: none;
    margin-right: 2rem;
    margin-top: 2px;
    padding: 5px 20px;
    border: 1px solid rgb(189, 187, 187);;
    border-radius: 8px;
  
    a {
      text-decoration: none;
    }
  }
}

ul > li:hover {
  background: var(--green-color);
  a {
    color: var(--gray-color);
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  // margin-top: 4px;
}