#oContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#iContainer{
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  padding: 0px 40px;
}