#oContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  // margin-bottom: 1rem;
  background-size: 100%;
}

// div#oContainer {
//   overflow-y: visible;
//   overflow-x: scroll;
// }

#iContainer{
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  padding: 0px 20px;
  margin-top: 5.5rem;
  margin-bottom: 2rem;

}

#iContainer a {
  text-decoration: none;
  border: 2px solid white;
  padding: 0.3rem;
  border-radius: 5px;
}



#iContainer > p > a:hover {
  color: white;
}

#iContainer > p > a {
  color: white;
}


#iContainer > p > a:visited {
  color: white;
}

.challenge {
  a:visited {
    color: white;
  }
  a {
    color: white;
  }
  margin-bottom: 5rem;
  text-align: center;
}